<%= form_with(model: conversation, class: "contents") do |form| %>
  <% if conversation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
        <% conversation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :messages do |message_form| %>
    <%= message_form.hidden_field :role, value: "user" %>

    <div class="my-5">
      <%= message_form.label :content %>
      <%= message_form.text_area :content, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= message_form.label :llm_provider, "LLM Provider" %>
      <%= message_form.select :llm_provider,
                              options_for_select([%w[Bedrock bedrock], %w[OpenAI openai]], 'bedrock'),
                              {},
                              class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
